# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.db

# JetBrains Rider
.idea/

# SQLite databases
*.db
*.db-shm
*.db-wal

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Test Results
[Tt]est[Rr]esults/
*.trx

# NCrunch
_NCrunch_*
*.ncrunchproject
*.ncrunchsolution

# Chutzpah
_chutzpah*

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
